html { 
  background: url(foto/eenachtergrond.jpg) center fixed; 
  background-size: cover;
}

div{
    text-align: center;
    position: fixed;
    margin-top: -18px;
}

li {
    display: inline;
    padding: 7px 7px 7px 7px;
    margin-right: 7px;
}

a {
    text-decoration: none;
    color: white;
}

#menubalk {
    width: 95%;
    height: 29px;
    margin-left:2.5%;
    background-color: #1ECC89;
    font-size: 18px;
    text-align: center;
    margin-top: -8px
    
}

li:hover {
  background-color: black;
}


.footer-links {
    margin-top: 17.7%;
    background-color: #1ECC89;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    width: 94%;
    margin-left: 2%;
    position: fixed;
}

form {
    text-align: center;
    color: white;
    font-size: 17px;
    margin-top: -0px;
    padding:
}

input {
    width: 30%;
}

#bericht {
    height: 120px;
}

#zenden1 {
    margin-top: 40px;
}

#zenden2 {
    margin-top: 10px;
    margin-left: -19px;
}

#zenden2v{
    width: 379px;

}

#zenden3 {
    margin-top: 10px;
    margin-left: -5px
}

#zenden3v {
    width: 379px;
}

#zenden4 {
    margin-top: 10px;
    margin-left: -5px
}

#zenden4v {
    width: 379px;
    height: 140px
}

#verzendknop {
    margin-left: 48px;
    width: 388px
}




















